<h1>Editing author book</h1>

<%= render "form", author_book: @author_book %>

<br>

<div>
  <%= link_to "Show this author book", @author_book %> |
  <%= link_to "Back to author books", author_books_path %>
</div>
